body {
  color: #333333;
  font-size: 62.5%;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

/* ヘッダー */
.header-container {
  height: 10vh;
  background-color: rgba(54, 39, 39, 0.9);
  color: aliceblue;
  display: flex;
  flex-flow: row;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-size: 0.8rem;
}

.fa-leaf {
  margin-left:0.4rem;
  margin-right:0.4rem;
}


.header-right {
  display: flex;
  flex-flow: row;
  margin-left: auto;
  line-height: 10vh;
}

.header-right a {
  display: block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: aliceblue;
  font-size: 0.7rem;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-right .fa-bars {
  display: none;
  font-size: 2rem;
  line-height: 10vh;
  margin-right: 1rem;
}

.header-right .fa-bars:hover {
  opacity: 0.5;
}

/* トップイメージ */
.background-img {
  background-image: url(../img/background-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 25rem;
}

.background-img h1 {
  line-height: 25rem;
  text-align: center;
  color: aliceblue;
  font-size: 1.6rem;
  font-weight: bold;

}

/* メインページ */
.top-wrapper {
  padding: 1.6rem;
}

.top-wrapper h1 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.top-wrapper p {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

section {
  border-bottom: 2px solid rgba(54, 39, 39, 0.9);
  box-shadow: 0 2px 0 rgba(255,255,255,1);
  margin-bottom: 3rem;
}


/* タブメニュー */
.menu ul {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid rgba(54, 39, 39, 0.9);
}

.menu li {
  width: 100%;
  height: 1.5rem;
  text-align: center;
  border-left: 1px solid rgba(54, 39, 39, 0.9);
}

.menu-right {
  border-right: 1px solid rgba(54, 39, 39, 0.9);
}

.menu li:hover {
  opacity: 0.7;
  color: rgba(54, 39, 39, 0.9);
  box-shadow: 0 -8px 3px -3px rgba(54, 39, 39, 0.9) inset; 
}

/* タブメニュー中身 */
.tab-content {
  display: none;
}

.active {
  display: block;
}

.tab-content {
  width: 100%;
  background-color: rgba(250, 250, 230, 0.9);
  padding: 0.5rem;
  position: absolute;
}

.tab li {
  padding-bottom: 0.5rem;
}

.html {
  background-color: aquamarine;
}

.css {
  background-color: blue;
}
.js {
  background-color: coral;
}
.git {
  background-color: darkorchid;
}

.editor {
  background-color: darkgrey
}

.study {
  background-color: gold;
}


